.branch-form-field--code {
  width: 9.3rem;
}

.branch-form-field--state {
  width: 3.5rem;
}

.branch-form-field--zip {
  width: 4.5rem;
}

.branch-form-field--state input,
.branch-form-field--zip input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}
